:root {
    --primary: #52a5e0;
    --secondary: #f39c12;
    --body: #101417;
    --container: #181c1f;
    --container-clearer: #1f2a30;
    --border: #2a3b47;
    --title: #dfe3e6;
    --sub-title: #8fcdf1;
    --content: #c8cdd0;
    --sub-content: #a0a7ac;
    --icons-white: #bfc8cf;
    --icons-blue: #89cef7;
    --icons-background: #005677;

    --title-size: 20px;
    --subtitle-size: 16px;
    --content-size: 12px;
}

.cards {
    width: 100px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards-link {
    text-decoration: none;
    color: var(--sub-content);
}

.cards-img {
    width: 100px;
    border-radius: 5px;
}

.cards-title {
    font-size: var(--subtitle-size);
}