:root {
    --primary: #52a5e0;
    --secondary: #f39c12;
    --body: #101417;
    --container: #181c1f;
    --container-clearer: #1f2a30;
    --border: #2a3b47;
    --title: #dfe3e6;
    --sub-title: #8fcdf1;
    --content: #c8cdd0;
    --sub-content: #a0a7ac;
    --icons-white: #bfc8cf;
    --icons-blue: #89cef7;
    --icons-background: #005677;

    --title-size: 20px;
    --subtitle-size: 16px;
    --content-size: 12px;
}

.footer {
    width: 100%;
    height: 300px;
    margin-top: 80px;
    padding-bottom: 70px;
    background-color: var(--container);
}

.footer-container {
    margin: 0 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.footer-paragraph, .footer-paragraph-2 {
    color: var(--sub-content);
    font-size: var(--content-size);
}

.footer-paragraph-2 {

}

