:root {
    --primary-color: #bb86fc;
    --secondary-color: #03dac5;
    --background-main: #121212;
    --background-secondary: #1f1b24;
    --font-color: #eef3f5;
}

#header {
    width: 100%;
}

#headerMain-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 15px;

    color: var(--font-color);
}