:root {
    --primary: #52a5e0;
    --secondary: #f39c12;
    --body: #192229;
    --container: #212e36;
    --border: #2a3b47;
    --title: #eef3f5;
    --content: #c8cdd0;
    --sub-content: #a0a7ac;
}

#header {
    width: 100%;
}

#headerMain-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 15px;

    color: var(--title);
}

#headerMain-logo {
    text-decoration: none;
    color: var(--title);
}