:root {
    --primary: #52a5e0;
    --secondary: #f39c12;
    --body: #101417;
    --container: #181c1f;
    --container-clearer: #1f2a30;
    --border: #2a3b47;
    --title: #dfe3e6;
    --sub-title: #8fcdf1;
    --content: #c8cdd0;
    --sub-content: #a0a7ac;
    --icons-white: #bfc8cf;
    --icons-blue: #89cef7;
    --icons-background: #005677;
}

.bannerImage {
    position: relative;
}

.bannerImage::after {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--body), transparent);
}

.bannerImage-overlay {
    position: absolute;
    left: 15px;
    bottom: 30px;
    color: var(--title);
    text-align: left;
    width: 80%;
}

.bannerImage-title {
    margin-bottom: 10px;
}

.bannerImage-runtime {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}

.bannerImage-rating, .bannerImage-rating-total {
    color: var(--secondary);
}

.bannerImage-rating {
    font-weight: bold;
}

.bannerImage-rating-total, .bannerImage-data {
    font-size: 12px;
}

.bannerImage-data {
    color: var(--content);
}




