:root {
    --primary: #52a5e0;
    --secondary: #f39c12;
    --body: #101417;
    --container: #181c1f;
    --container-clearer: #1f2a30;
    --border: #2a3b47;
    --title: #dfe3e6;
    --sub-title: #8fcdf1;
    --content: #c8cdd0;
    --sub-content: #a0a7ac;
    --icons-white: #bfc8cf;
    --icons-blue: #89cef7;
    --icons-background: #005677;

    --title-size: 20px;
    --subtitle-size: 16px;
    --content-size: 12px;
}

.detail-container {
    margin: 30px 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.detail-container img {
    width: 130px;
    border-radius: 5px;
}

.detail-title {
    color: var(--title);
    font-size: var(--subtitle-size);
}

.detail-tagline {
    color: var(--sub-content);
    font-size: var(--content-size);
}

.detail-rating-genres-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-rating-vote-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.detail-vote {
    color: var(--sub-content);
    font-size: var(--content-size);
}

.detail-time {
    color: var(--sub-title);
    font-size: var(--content-size);
}

.detail-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.movie-genre {
    color: var(--sub-content);
    font-size: var(--content-size);
    border: solid 1px var(--sub-content);
    border-radius: 50px;
    padding: 5px;
}

.detail-description {
    margin: 0 15px;
    color: var(--content);
    font-size: var(--subtitle-size);
}