:root {
    --primary: #52a5e0;
    --secondary: #f39c12;
    --body: #101417;
    --container: #181c1f;
    --container-clearer: #1f2a30;
    --border: #2a3b47;
    --title: #dfe3e6;
    --sub-title: #8fcdf1;
    --content: #c8cdd0;
    --sub-content: #a0a7ac;
    --icons-white: #bfc8cf;
    --icons-blue: #89cef7;
    --icons-background: #005677;
}

#nav {
    background-color: var(--primary);
    width: 100%;
    height: 80px;
    align-content: center;

    position: fixed;
    bottom: 0;
}

#nav #nav-container {
    background-color: var(--primary);
    margin: 0 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav a {
    background-color: var(--primary);
    color: var(--body);
    text-decoration: none;
}