:root {
    --primary: #52a5e0;
    --secondary: #f39c12;
    --body: #192229;
    --container: #212e36;
    --border: #2a3b47;
    --title: #eef3f5;
    --content: #c8cdd0;
    --sub-content: #a0a7ac;
}

#nav {
    background-color: var(--primary);
    width: 100%;
    height: 80px;
    align-content: center;

    position: fixed;
    bottom: 0;
}

#nav #nav-container {
    background-color: var(--primary);
    margin: 0 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav a {
    background-color: var(--primary);
    color: var(--background-main);
    text-decoration: none;
}